@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color: rgb(66, 0, 128);
    margin: 0;
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#color-input{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    width: 20%;
    margin: auto;
    color: white;
}

#next{
    color: white;
}

a{
    font-family: 'Roboto Mono', monospace;
    color:black;
    text-decoration: none;
    padding: 10 10 10 10;
    background-color: rgb(230,215,255);
    border-radius: 10px;
    font-size: 20px;
    margin-right: 15px;
}

a:hover,
a.selected{
    color:white;
}

h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    margin: 0.4;
    color: white;
}

#buttonspace{
    margin-bottom: 40px;
}

h2{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 30px;
    color: white;
}

p{
    font-family: 'Roboto Mono', monospace;
    color: white;
}

section{
    margin-top: 180px;
    align-self: center;
}
